.Rproj.user
.Rhistory
.RData
R
testing.r
Data/
Exploratory Data Analysis/.RData
Exploratory Data Analysis/.Rhistory
Exploratory Data Analysis/geyserplot
Exploratory Data Analysis/myplot/
Getting And Cleaning Data/Data/
Hospital Data/Data/